body {
    font-family: "Inter", sans-serif;
    overflow-y: scroll;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --dark-color: #273036;
    --light-color: #F3F4F5;
    --vibrant-color: #ff5500;
    --black-color: black;
    --white-color: white;
}

/*OG COLORS*/
/*dark: #273036*/
/*light: #F3F4F5*/
/*color: #ff5500*/
/*black: #000000*/
/*white: #ffffff*/

/**************************/
/**************************/
/**************************/
/**************************/
/***** NAVIGATION BAR *****/

.navbar {
    align-items: center;
    background-color: var(--light-color);
    color: var(--black-color);
    border-radius: 5px;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--dark-color);
    display: flex;
    height: 50px;
    justify-content: space-between;
    left: 0;
    margin: 0 auto;
    padding: 2px 30px;
    padding-right: 0;
    position: fixed;
    right: 0;
    top: 20px;
    width: 600px;
    z-index: 200;
    animation: fadeDown 500ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    opacity: 0;
}

.navbar a {
    color: var(--black-color);
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--black-color);
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.5;
}

.navbar a.contact {
    background-color: var(--vibrant-color);
    color: var(--white-color);
    border: 1px solid var(--vibrant-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar a.contact:hover{
    background-color: var(--white-color);
    border: 1px solid var(--vibrant-color);
    color: var(--vibrant-color);
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 1;
    transition: background-color 500ms;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 0.95;
        transform: translateY(0px);
    }
}

/************************/
/************************/
/************************/
/************************/
/***** START PAGINA *****/

.intro-container {
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

.intro-container .profile-picture {
    align-items: center;
    justify-content: center;
    padding: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.intro-container .profile-picture img {
    display: flex;
justify-content: center;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
    animation: fadeLeft 500ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    animation-delay: 500ms;
    opacity: 0;
}

.intro-text {
    text-align: center;
}

.intro-text .Boodschap1 {
    font-weight: bold;
    color: var(--black-color);
    font-size: 25px;
    animation: fadeRight 500ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    animation-delay: 500ms;
    opacity: 0;
}

.intro-text .Boodschap2 {
    font-size: 20px;
    color: var(--black-color);
    animation: fadeRight 500ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    animation-delay: 600ms;
    opacity: 0;
}

.intro-text .Boodschap3 {
    color: var(--black-color);
    animation: fadeRight 500ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    animation-delay: 700ms;
    opacity: 0;
}

.intro-text .Boodschap3 .contact-button {
    background-color: var(--vibrant-color);
    border: 1px solid var(--vibrant-color);
    border-radius: 5px;
    color: var(--white-color);
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

.intro-text .Boodschap3 .contact-button:hover{
    background-color: var(--white-color);
    border: 1px solid var(--vibrant-color);
    color: var(--vibrant-color);
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 500ms;
}

.wave1,
.restbody {
    opacity: 0;
}

.wave1,
.restbody {
    animation: fadeUp 1000ms forwards cubic-bezier(0.22, 0.32, 0, 1.15);
    animation-delay: 800ms;
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeUp {
    from {
        transform: translateY(5000px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/****************************/
/****************************/
/****************************/
/****************************/
/***** EXPERTISE PAGINA *****/

.content-expertise {
    background-color: var(--dark-color);
    margin-top: -5px;
    padding-top: 10%;
    padding-bottom: 10%;
    color: var(--white-color);
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.expertise {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px;
    margin-top: 30px;
}

.expertise-box {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 40px;
    border: 1px solid var(--dark-color);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.expertise-box img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 5%;
    margin-bottom: 10px;
    border: 1px solid var(--black-color);
}

.expertise-box h3 {
    font-size: 1.2rem;
    margin: 10px 0px;
    color: var(--black-color);
}

.expertise-box p {
    font-size: 1.1rem;
    padding-top: 10px;
    color: var(--black-color);
    text-align: left;
}

/*****************************/
/*****************************/
/*****************************/
/*****************************/
/***** INFORMATIE PAGINA *****/

.content-testimonials {
    margin-top: -5px;
    padding-top: 10%;
    text-align: center;
    color: var(--black-color);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-container {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    gap: 20px;
    padding: 20px;
}

.information-item {
    max-width: 1000px;
    text-align: left;
    margin-bottom: 25px;
}

.information-title a {
    font-size: 20px;
    color: var(--black-color);
    text-decoration: underline;
    font-weight: bold;
}

.information-description {
    font-size: 17px;
    padding-top: 1vh;
    max-width: 1000px;
}

/**************************/
/**************************/
/**************************/
/**************************/
/***** CONTACT PAGINA *****/

.content-contact {
    background-color: var(--vibrant-color);
    padding-top: 5vh;
    margin-top: -5px;
    padding-bottom: 1vh;
    color: var(--white-color);
    text-align: center;
}

.content-contact h2 {
    color: var(--white-color);
    font-weight: bold;
}

.contact-details a {
    background-color: var(--vibrant-color);
    color: var(--white-color);
    margin: 0 25px;
    text-decoration: none;
    text-align: left;
}

.contact-details a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: var(--dark-color);
}

.maps {
    width: 100%;
    padding-bottom: 4vh;
    padding-top: 4vh;
}

iframe {
    width: 75%;
    height: 500px;
    border: 1px solid var(--black-color);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
}

.copyright {
    background-color: var(--vibrant-color);
    font-size: 15px;
    padding-bottom: 2vh;
    color: var(--white-color);
    text-align: center;
}
